<div class="grc-tabulator-container">

    <div class="grc-tabulator-search">
        <div class="field-search-group">
            <label class="form-searchbox-label text-right">
                @Html.Raw(ILocalize.GetLocalizedLabel("Component.Table.Search.User.Deleted"))
            </label>
            <input id="userSearchbox" type="text" class="form-control searchbox-field">
        </div>
        <div class="field-search-buttons">
            <button id="btnUserExportFiltered" class="btn btn-primary">
                <i class="mdi mdi-file-excel-outline"></i> @Html.Raw(ILocalize.GetLocalizedLabel("App.Label.ExportFiltered"))
            </button>
        </div>
    </div>
    <div id="deletedUsersTable"></div>
</div>

<div id="deleteOverLay" class="obligation-panel-overlay"></div>

<div id="deleteContainer" class="obligation-side-panel">

    <div class="obligation-side-panel-header">
        <h3 id="userTitle">User Account Info</h3>
        <button class="panel-close" onclick="closeDeletePanel()">
            <i class="mdi mdi-close"></i>
        </button>
    </div>

    <div class="obligation-side-panel-body">

        <form id="restoreForm" class="grc-law-form m-5">

            <div class="row mb-5">

                <div class="col-12">

                    <div class="row mb-3">
                        <label for="fullName" class="col-4 form-label">Full Name</label>
                        <div class="col-8">
                            <input type="text" class="form-control" id="fullName" readonly>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label for="pfNumber" class="col-4 form-label">PF NO</label>
                        <div class="col-8">
                            <input type="text" class="form-control" id="pfNumber" readonly>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label for="emailAddress" class="col-4 form-label">Email Address</label>
                        <div class="col-8">
                            <input type="text" class="form-control" id="emailAddress" readonly>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label for="phoneNumber" class="col-4 form-label">Phone Number</label>
                        <div class="col-8">
                            <input type="text" class="form-control" id="phoneNumber" readonly>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label for="departmentName" class="col-4 form-label">Department</label>
                        <div class="col-8">
                            <input type="text" class="form-control" id="departmentName" readonly>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label for="username" class="col-4 form-label">System Name</label>
                        <div class="col-8">
                            <input type="text" class="form-control" id="username" readonly>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label for="displayName" class="col-4 form-label">Display Name</label>
                        <div class="col-8">
                            <input type="text" class="form-control" id="displayName" readonly>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label for="roleName" class="col-4 form-label">System Role</label>
                        <div class="col-8">
                            <input type="text" class="form-control" id="roleName" readonly>
                        </div>
                    </div>

                </div>

                <div class="col-sm-12">
                    <div class="row mb-3">
                        <div class="col-sm-4">
                            <button class="btn btn-grc-secondary" style="width:100%;" onclick="closeDeletePanel()">CLOSE</button>
                        </div>
                        <div class="col-sm-8"></div>
                    </div>
                </div>
            </div>

        </form>

    </div>

</div>


@{
    Html.AddScriptParts(ResourceLocation.Footer, "~/lib/jquery/dist/jquery.js");
    Html.AddScriptParts(ResourceLocation.Footer, "~/js/admin-deleted-script.js");
}
