<div class="table-container">
    <table id="departmentsTable" class="table is-fullwidth is-striped">
        <thead>
            <tr>
                <th width="120">Code</th>
                <th>Department Name</th>
                <th>Department Alias</th>
                <th>Branch</th>
                <th>Active</th>
                <th>Created On</th>
            </tr>
        </thead>
        <tbody id="departmentsTableBody"></tbody>
    </table>
</div>
