@*Delegation *@
@*Users *@
<div class="grc-user-component">
    <span>Create delegate list</span>
    <span>list compliance user</span>
    <span>list of Permissions for delegating user</span>
</div>

