
<div class="component-split-container">

    <div class="component-slideout">

        <div class="component-create-container">
            <span>Create goes here</span>
        </div>

        <div class="component-edit-container">
            <span>Edit goes here</span>
        </div>

    </div>

    <div class="component-split-table-container">
        <div class="table-container">
            <table id="departmentUnitsTable" class="table is-fullwidth is-striped">
                <thead>
                    <tr>
                        <th width="120">Code</th>
                        <th>Unit Name</th>
                        <th>Department</th>
                        <th>Active</th>
                        <th>Created On</th>
                    </tr>
                </thead>
                <tbody id="departmentUnitssTableBody"></tbody>
            </table>
        </div>
    </div>
</div>
