@model PasswordChangeModel
@{
    Layout = "_Layout_01";
    ViewData["Title"] = "GRC SUITE";

    var username = Model.Username;
    if (Model.Workspace?.CurrentUser != null) {
        username = $"{Model.Workspace?.CurrentUser?.FirstName} {Model.Workspace?.CurrentUser?.LastName}";
    }
}

<div class="no-service-base-container">
    <div class="no-service-header">
        <div class="no-service-logo">
            <img id="serviceLogo" class="service-logo" src="~/images/logo.png" alt="logo" />
        </div>
        <div class="no-service-banner">
            <span class="display-1 service-banner ">
                @Html.Raw(ILocalize.GetLocalizedLabel("App.Version"))
            </span>
        </div>
    </div>

    <div class="no-service-container">

        <div class="no-service-content-wrapper">
            <div class="no-service-container"">
                <section class="no-service-section">
                    <h1 class="display-1 text-warning fw-normal header-label-1">403</h1>
                    <h5 class="display-5 fw-normal header-label-2 text-danger">ACCESS DENIED!</h5>
                    <h6 class="display-6 header-label-3">@username, this area as restricted access</h6>
                </section>
            </div>
        </div>

    </div>
</div>