@{
    Layout = "_Layout_01";
    ViewData["Title"] = "GRC SERVICES";
}

<div class="no-service-container">   
    <div class="no-serice-header">
        <div class="no-service-img-box">   
            <img src="~/images/no_service.png"/>
        </div>
    
    </div>
    <div class="no-sevice-container text-center">

        <section class="no-sevice-section">
            <h1 class="display-1 text-warning fw-normal header-label-1">503</h1>
            <h5 class="display-5 fw-normal header-label-2">Service Error! GRC Middleware Unavailable</h5>
            <h6 class="display-6  header-label-3">The server is temporarily unavailable. Please try again later</h6>
        </section>

    </div>
</div>

