<div class="dashboard-category-grid" style="display:flex; min-height:70vh;">
    <div class="inner-dashboard-container" style="flex:1; display:flex; flex-direction:column;">
        <div id="branchesTable"></div>
    </div>
</div>

<div id="branchOverLay" class="obligation-panel-overlay"></div>

<div id="branchContainer" class="obligation-side-panel" onclick="event.stopPropagation()">

    <div class="obligation-side-panel-header">
        <h3 id="branchTitle">BUG TRACKER</h3>
        <button class="panel-close" onclick="closeBranchPanel()">
            <i class="mdi mdi-close"></i>
        </button>
    </div>

    <div id="branchPanel" class="obligation-side-panel-body">

        <form id="branchForm" class="grc-law-form m-5">
            <input type="hidden" id="branchId">
            <input type="hidden" id="isEdit">

            <div class="row">

                <div class="col-12 m-2">
                    <label for="branchName" class="col-12 form-label">BRANCH NAME</label>
                </div>

                <div class="col-12 m-2">
                    <input type="text" class="form-control" id="branchName" name="branchName">
                </div>

            </div>

            <div class="row">

                <div class="col-12 m-2">
                    <label for="solId" class="col-12 form-label">SOLID</label>
                </div>

                <div class="col-12 m-2">
                    <input type="text" class="form-control" id="solId" name="solId">
                </div>

            </div>

            <div class="row mb-5">

                <div class="col-sm-12">
                    <div class="row mb-3">
                        <div class="col-sm-2">
                            <button class="btn btn-grc-primary" style="width:100%;" onclick="saveBranch(event)">@Html.Raw(ILocalize.GetLocalizedLabel("Button.Submit"))</button>
                        </div>
                        <div class="col-sm-2">
                            <button class="btn btn-grc-secondary" style="width:100%;" onclick="closeBranchPanel()">@Html.Raw(ILocalize.GetLocalizedLabel("Button.Cancel"))</button>
                        </div>
                        <div class="col-sm-8"></div>
                    </div>
                </div>

            </div>

        </form>

    </div>
</div>

@{
    Html.AddScriptParts(ResourceLocation.Footer, "~/lib/jquery/dist/jquery.js");
    Html.AddScriptParts(ResourceLocation.Footer, "~/js/admin-branches.js");
}