@{
    ViewData["Title"] = "404";
    Layout = "_Layout_01";
}

<div class="page-not-container">
    <div class="page-not-header">
        <div class="page-not-img-box">
            <img src="~/images/404.png" />
        </div>

    </div>
    <div class="page-not-content text-center">

        <section class="page-not-section">
            <h1 class="display-1 text-warning fw-normal header-label-1">404</h1>
            <h5 class="display-5 fw-normal header-label-2">PAGE NOT FOUND</h5>
            <h6 class="display-6  header-label-3">The resource your looking for does not exist or has been moved</h6>
        </section>

    </div>
</div>
