.main-content {
    padding: 0 20px!important;
}
.grc-page-component {
    display: flex;
    flex-direction: column;
    flex: 1;
    min-height: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}

.grc-component-header {
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
    padding: 0 10px;
    border-bottom: solid 1px var(--grey-light-slightly);
}

/* Overlay styles */
.pop-container {
    margin: 0;
    padding: 0;
}

.component-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    z-index: 9999;
}

.component-modal-container {
    position: absolute;
    top: 60px;
    left: 50%;
    display: flex;
    flex-direction: column;
    transform: translate(-50%);
    background: white;
    border-radius: 0;
    width: 100%;
    height: calc(100vh - 60px);
    max-width: 90%;
    overflow-y: hidden;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.4);
    transition: all .3s ease-in-out;
}

    .component-modal-container.expanded {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        min-width: 100%;
        transform: none;
        height: 100%;
        transition: all .3s ease-in-out;
    }

.component-modal-header {
    padding: 1rem 1.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1rem 1.5rem;
    border-bottom: 1px solid #eee;
    background-color: #f8f9fa;
}

button.componet-modal-back {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    z-index: 1;
    font-size: 1.5rem;
    flex-shrink: 0;
    color: var(--accent-grey-medium);
    border: solid 1px var(--grey-light-medium);
}

    button.componet-modal-back:hover {
        color: var(--pearl-purple-dark-40);
        background-color: var(--purple-light-extra);
        border: solid 1px var(--pearl-purple-dark-40);
        transition: all .3s ease-in-out;
    }

.component-modal-title {
    margin: 0;
    flex-grow: 1;
    font-size: 1.25rem;
    font-weight: 600;
    color: var(--pearl-orange);
    text-align: left;
    padding-left: 20px;
}

.button-box {
    flex-shrink: 0;
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

button.component-modal-close {
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    padding: 0.25rem;
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    color: #666;
    transition: all 0.2s;
}

    button.component-modal-close:hover {
        color: var(--teal-dark-slightly);
        background-color: transparent;
        transition: all .3s ease-in-out;
    }


.component-modal-content {
    padding: 0 3rem;
    min-height: 100%;
    height: 100vh;
    overflow: auto;
    background: var(--background-color);
    display: flex;
    flex-direction: column;
}

.component-modal-footer {
    padding: 1rem 1.5rem;
    border-top: 1px solid #eee;
    text-align: right;
    background-color: #f8f9fa;
    border-radius: 0 0 8px 8px;
}

.component-split-container {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.component-create-container {
    display: flex;
    flex-direction: column;
}

.component-edit-container {
    display:none;
    flex-direction:column;
}

.component-slide-header {
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    align-items: center;
    padding: 11px 0;
    border-bottom: 1px solid var(--grey-dark-slightly);
}

.component-slide-header-label {
    flex: 1;
    font-size: 1.25rem;
    font-weight: 600;
    color: var(--pearl-purple-dark-light-light);
    text-align: left;
}

button.component-new-close,
button.component-edit-close,
button.component-filter-close {
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    padding: 0.25rem;
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    color: var(--grey-dark-slightly);
    transition: all 0.2s;
}

.component-slideout,
.component-tabletools-container {
    width: 0;
    overflow: hidden;
    transition: width 0.3s ease;
    background: var(--background-color);
    height: 100%;
    padding: 10px;
    
}

.component-slideout {
    left: 0;
    transform: translateX(-100%); 
}

    .component-slideout.active {
        position: relative;
        width: 500px;
        background: var(--background-color);
        transform: translateX(0);
        transition: all .5s ease-in-out;
        box-shadow: 2px 0 6px rgba(0, 0, 0, 0.08);
        border-right: solid 1px var(--grey-light-slightly);
    }

.component-tabletools-container {
    position: absolute;
    top: 0;
    right: -250px;
    height: 100%;
    width: 250px;
    z-index: 6;
    border: none;
    box-shadow: none;
    overflow-y: auto;
    transition: transform 0.5s ease-in-out;
}
    .component-tabletools-container.active {
        right: 0;
        top:0;
        z-index: 6;
        width: 250px;
        transform: translateX(0);
        display: block;
        transition: all .5s ease-in-out;
        box-shadow: -2px 0 6px rgba(0, 0, 0, 0.08);
        border-left: solid 1px var(--grey-light-slightly);
    }

.action-btn.active,
.icon-btn.active {
    font-weight: 600;
    color: var(--pearl-purple-dark-light-light) !important;
}

.component-slide-content {
    flex:1;
    padding:10px
}

.component-split-table-container {
    flex: 1;
    transition: margin-left 0.3s ease;
    position: relative;
}

.component-header-left {
    display: flex;
    align-items: center;
    flex: 1;
    gap: 1px;
    padding: 0 10px;
}

.component-header-right {
    display: flex;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
}

.grc-component-content {
    height: 100%;
    overflow: auto;
}

.component-label {
    padding: 10px;
    font-size: 1.2em;
    font-weight: 600;
    color: var(--pearl-purple-dark-light-light);
    border-right: solid 1px var(--grey-light-strong);
}

.icon-btn,
.action-btn {
    padding: 10px;
    border: none;
    cursor: pointer;
    font-size: 1.2em;
    color: var(--grey-dark-slightly);
    background: transparent;
    transition: all .3s ease-in-out;
}

button.icon-btn:hover,
button.icon-btn:hover span {
    color: var(--pearl-purple-dark-20);
}

.action-btn:hover,
.action-btn:hover span {
    color: var(--pearl-purple-dark-light-light);
    transition: all .3s ease-in-out;
}

.header-more-list {
    position: relative;
    display: flex;
    align-items: center;
}

.more-actions-dropdown {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    background: var(--background-color);
    border: 1px solid var(--grey-light-medium);
    border-radius: 0.25rem;
    min-width: 200px;
    z-index: 10;
    flex-direction: column;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.header-more-list.open .more-actions-dropdown {
    display: flex;
}

.dropdown-item span:first-child {
    margin-right: 0.5rem;
}

.dropdown-item {
    display: flex;
    align-items: center;
    padding: 0.5rem;
    text-decoration: none;
    color: inherit;
    white-space: nowrap;
}

