@* @model PolicyRegisterViewModel *@

<div class="container-fluid regulatory-container">

    <div class="row regulatory-inner-container">

        <div class="col-md-3 border-end hierarchy-panel">

            <div class="category-list-box d-flex justify-content-between align-items-center mb-2">
                <strong class="category-list-box-title" >Categories</strong>
                <button class="btn btn-sm grc-btn-outline-primary" id="btnAddCategory">+ Category</button>
            </div>

            <div id="regulatoryTree" class="hierarchy-tree"></div>

        </div>

        <div class="col-md-9 content-panel">

            <nav class="bread-crumb-nav" aria-label="breadcrumb">
                <ol class="breadcrumb small mb-2" id="regulatoryBreadcrumb">
                    <li class="breadcrumb-item">Select a category</li>
                </ol>
            </nav>

            <div id="contentArea">
                <div class="empty-state text-muted text-start p-2" style="border-bottom: solid 1px #CED4DA!important">
                    Select a Category or Law from the left panel
                </div>
                <div id="categoryView" class="d-none">
                    <div class="d-flex justify-content-between p-2">
                        <h6 class="p-2 m-0">Laws</h6>
                        <button class="btn btn-sm btn-primary"id="btnAddLaw">+ Add Law</button>
                    </div>

                    <div id="lawsTable"></div>
                </div>
                <div id="lawView" class="d-none">
                    <div class="d-flex justify-content-between p-2">
                        <h6 class="p-2 m-0">Acts / Sections</h6>
                        <button class="btn btn-sm btn-primary" id="btnAddAct">+ Add Section</button>
                    </div>

                    <div id="actsTable"></div>
                </div>

            </div>
        </div>
    </div>
</div>


@{
    Html.AddScriptParts(ResourceLocation.Footer, "~/lib/jquery/dist/jquery.js");
    Html.AddScriptParts(ResourceLocation.Footer, "~/js/app-regulations-register.js");
}