@model OperationsDashboardModel

<div class="grc-tabulator-container">

    <div class="grc-tabulator-search">

        <div class="field-search-group">
            <label class="form-searchbox-label text-right">
                @Html.Raw(ILocalize.GetLocalizedLabel("Component.Table.Search.Processes"))
            </label>
            <input id="approvalsSearchbox" type="text" class="form-control searchbox-field">
        </div>

        <div class="field-search-buttons">
            <button id="btnApprovalsExport" class="btn btn-primary">
                <i class="mdi mdi-file-excel-outline"></i> @Html.Raw(ILocalize.GetLocalizedLabel("App.Label.ExportFiltered"))
            </button>
        </div>

    </div>

    <div id="processApprovalsTable"></div>

</div>

@{
    Html.AddScriptParts(ResourceLocation.Footer, "~/lib/jquery/dist/jquery.js");
    Html.AddScriptParts(ResourceLocation.Footer, "~/js/app-process-approval-list.js");
}
