@{
    Layout = "_Layout";
    ViewData["Title"] = "TASK LIST";
}

<div class="welcome-container">

    <div class="welcome-container-message">
        <span class="display-1">@Model.WelcomeMessage</span>
    </div>

    <div class="incon-container-expand">
        <button id="expandBtn" type="button" class="icon-btn">
            <span>
                <i id="toggleIcon" class="mdi mdi-arrow-expand"></i>
            </span>
        </button>
    </div>

</div>
