@model IEnumerable<RecentModel>

<ul id="recent-menu" class="sidebar-submenu">
    @foreach (var action in Model)
    {
        <li class="sidebar-item">
            <a class="@action.CssClass" href="@action.Url">
                <span class="menu-icon">
                    <i class="@action.IconClass"></i>
                </span>
                <span class="sidebar-text">@action.Label</span>
            </a>
        </li>
    }
</ul>

