@*Users *@
<div class="grc-user-component">
    <span>User Groups[Department Heads, Compliance Guests, Complance Users]</span>
    <span>Users</span>
    <span>User Roles[Admin, User, Guest, ]</span>
    <span>Permission Sets[Admin, User, Guest, ]</span>
</div>

