@{
    Layout = "_Layout";
    ViewData["Title"] = "COMPLIANCE - DELEGATION";
    // var component = new PageComponentViewModel
    // {
    //     ComponentId = "0",
    //     ComponentKey = "SettingDelegation",
    //     LeftActions = new List<ComponentAction> {
    //         new ComponentAction {ActionKey = ActionKey.ComplianceHome.GetDescription(), Icon = "mdi mdi-home-outline", Tooltip = ILocalize.GetLocalizedLabel("App.Label.Home")},
    //         new ComponentAction { ActionKey = ActionKey.Search.GetDescription(), Icon = "mdi mdi-magnify", Tooltip = ILocalize.GetLocalizedLabel("App.Label.Search") },
    //         new ComponentAction { ActionKey = ActionKey.Separator.GetDescription()},
    //         new ComponentAction { ActionKey = ActionKey.New.GetDescription(), Icon = "mdi mdi-plus", Tooltip = ILocalize.GetLocalizedLabel("App.Label.New") },
    //     }
    // };
}

<span class="display-1">Delegations</span>
@* @await Component.InvokeAsync("BaseComponent", new { model = component, content = Component.InvokeAsync("ComplianceUserDeligation") }) *@