<div class="grc-tabulator-container">
    <div id="rolePermissionsTable"></div>
</div>

<!-- Overlay -->
<div class="role-permission-overlay" onclick="closeRolePermPanel()">

    <div id="rolePermissionPanel" class="role-permission-panel" onclick="event.stopPropagation()">

        <div class="panel-header">
            <h3 id="panelTitle">Role Permissions</h3>
            <button class="panel-close" onclick="closeRolePermPanel()">&times;</button>
        </div>

        <div class="set-panel-body">
            <form id="rolePermissionForm" class="grc-set-form">
                <input type="hidden" id="setId">
                <input type="hidden" id="isEdit">

                <div class="row main-row">

                    <!-- Top section - form fields -->
                    <div class="col-sm-12 form-fields-section">

                        <div class="row">

                            <div class="col-12 form-group">
                                <!-- Role Name -->
                                <div class="row mb-3">
                                    <label for="roleName" class="col-12 col-form-label">
                                        @Html.Raw(ILocalize.GetLocalizedLabel("Component.Table.Role.Name"))
                                    </label>
                                    <div class="col-12">
                                        <input type="text" id="roleName" name="roleName" class="form-control" />
                                    </div>
                                </div>
                            </div>

                            <!-- role description-->
                            <div class="col-12 form-group">
                                <div class="row mb-3">
                                    <label for="roleDescription" class="col-sm-4 col-form-label">
                                        @Html.Raw(ILocalize.GetLocalizedLabel("Component.Table.Role.Description"))
                                    </label>
                                    <div class="col-12">
                                        <input type="text" id="roleDescription" name="roleDescription" class="form-control" />
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>

                    <!-- Middle section - permission -->
                    <div class="col-sm-12 permission-list-section">
                        <div id="rolePermissionListContainer" class="permission-setList-container"></div>
                    </div>

                    <!-- Bottom section - buttons -->
                    <div class="col-sm-12 button-section">
                        <div class="row mb-3">
                            <div class="col-sm-1">
                                <button class="btn btn-grc-primary w-100" onclick="saveRolePermissions(event)">
                                    @Html.Raw(ILocalize.GetLocalizedLabel("Button.Submit"))
                                </button>
                            </div>
                            <div class="col-sm-1">
                                <button class="btn btn-grc-secondary w-100" onclick="closeRolePermPanel()">
                                    @Html.Raw(ILocalize.GetLocalizedLabel("Button.Cancel"))
                                </button>
                            </div>
                            <div class="col-sm-10"></div>
                        </div>
                    </div>
                </div>

            </form>
        </div>
    </div>

</div>

@{
    Html.AddScriptParts(ResourceLocation.Footer, "~/lib/jquery/dist/jquery.js");
    Html.AddScriptParts(ResourceLocation.Footer, "~/js/admin-role-permissions.js");
}


